body{
    background-color:lavender !important;
}

img{
    width: 10%;
height: 100px;

box-shadow: 1px 1px 1px white;
}
img:hover{
    border-radius: 50px;
}

#footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    line-height: 3;
font-family: 'Times New Roman', Times, serif;
color: cornflowerblue !important;

}

h1,h4,h3,label{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    color: cornflowerblue !important;
}


